<section class="container-fluid mainsec">
  <!-- login section starts -->
  <div class="row ml-0 mr-0">
    <div class="container">
      <div class="row endorsementDiv">
        <div class="col-lg-12 pl-0 pr-0">
          <div class="formdiv pl-0 pr-0">
            <div class="logoSection">
              <div class="row">
                <div class="col-md-4 pr-0">
                  <!-- <a href="#" title="ICICI Lombard" class="logo">Master solution</a> -->
                </div>
                <div class="col-md-8  pr-0">
                  <a class="userLogin" style="width: 200px;"> Member Login</a>
                </div>
              </div>
            </div>
            <!-- Advertisement start-->
            <!-- <div id="emailid" class="relative"> -->
              <!-- <div class="curveDownBg"></div> -->
              <div class="row blueBgRadius">
                <div >
                  <!-- Your introduction image or video here -->
                  <img src="./assets/images/advertisement/GokulShreekhand.jpg" alt="Introduction Image" style="width: 290px;" />
                  <!-- or -->

                  <!-- <video width="365" height="240" controls autoplay loop >
                    <source src="./assets/images/advertisement/sampleVideo.mp4" type="video/mp4">
          
                  </video> -->
                            <!-- Your browser does not support the video tag. -->
                  <!-- <div  style="color:white;background-color: brown;text-align: center;" (click)="skipIntro()">Skip Advertisement</div> -->
                  <!-- <button (click)="skipIntro()">Skip Intro</button> -->
                  <div  style="color:white;background-color: brown;text-align: center;">Contact for Advertisement</div>
                </div>
              </div>
            <!-- </div> -->
    <!-- Advertisement End-->


            <div id="emailid" class="relative">
              <div class="curveDownBg"></div>
              <div class="row blueBgRadius">
                <form autocomplete="off" [formGroup]="LoginForm">
                  <div class="col-lg-12 col-sm-12 form-group form-inline mb-0">
                    <div class="input-field relative">

                      <label for="txtEmail">User Id<em class="asterisk">*</em></label>
                      <span>
                        <input type="text" class="form-control" formControlName="Username" placeholder="Username">
                      </span>
                      <span class="infoline error_msg_style" style="color: #fa5a13;">{{err}}</span>
                    </div>
                  </div>

                  <div class="col-lg-12 col-sm-12 form-group form-inline mb-0">
                    <div class="input-field relative">
                      <label for="txtEmail">Password<em class="asterisk">*</em></label>
                      <span>
                        <input type="password" class="form-control" formControlName="Password" placeholder="Password">
                      </span>

                      <span class="infoline error_msg_style" style="color: #fa5a13;">{{err}}</span>

                      <div class="text-center">
                        <button class="cstmbtn mt-4 rounded-pill" (click)="submit()" type="submit"
                          [disabled]="isClicked">
                          <div *ngIf="!isClicked">Login</div>
                          <div *ngIf="isClicked"> <span class="spinner-border spinner-border-sm" role="status"
                              aria-hidden="true"></span>
                            Wait...</div>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            

          </div>
        </div>
      </div>
    </div>
  </div>