<div>
    <app-header></app-header>
</div>

<div class="d-flex justify-content-center mt-5 text-primary" *ngIf="!flag_1">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
</div>


<div *ngIf="flag_1  && hideErr">
    
    <div>
        <div class="row">
            <div class=" col d-flex justify-content-start my-3 mx-2">
                <button class="btn btn-primary text-white" (click)="goBack()">	&larr; मागे</button>
            </div>
            <div class="col  d-flex justify-content-end my-3 mx-2">
                <button class="btn btn-info text-white" (click)="export()">डाउनलोड करा</button>
            </div>
            <div class="col  d-flex justify-content-end my-3 mx-2">
                <button type="button" class="btn btn-secondary btn-lg btn-block"
            (click)="generatePDF('download')">Download Invoice</button>
            </div>
           
          <div class="table-responsive" #tabledata>
<!-- <h5 class="text-center text-white" >{{dairyName}} </h5> -->
            <table class="table">
                <thead>
                    <tr class="text-center text-white">
                        <th colspan="14">{{dairyName}} ({{mainData.from}} -{{mainData.to|ReplaceDate}})</th></tr>
                    <tr class="text-center text-white">
                        <th class="fix">
                            <p>नंबर</p>
                        </th>
                        <th class="fix">
                            <p></p>
                        </th>
                        <th class="fix">
                            <p></p>
                        </th>
                        <th class="fix">
                            <p>नाव</p>
                        </th>
                       

                       <th class="fix">
                        <p>सकाळ(लि./रु.)</p>
                    </th>
                    <!-- <th class="fix">
                        <p>सकाळ ए. दर</p>
                    </th> -->
                    <th class="fix">
                        <p>संध्याकाळ(लि./रु.)</p>
                    </th>
                    <!-- <th class="fix">
                        <p>संध्याकाळ एकूण दर</p>
                    </th> -->
                    <th class="fix">
                        <p>एकूण दूध(लि.)</p>
                    </th>
                    <!-- <th class="fix">
                    <p>Rate</p>
                </th> -->
                    <th class="fix">
                        <p>एकूण दर(रु.)</p>
                    </th>
                    <th class="fix">
                        <p>ॲडव्हान्स(रु.)</p>
                    </th>
                    <th class="fix">
                        <p>बँक भरणा(रु.)</p>
                    </th>
                    <th class="fix">
                        <p>पशुखाद्य(रु.)</p>
                    </th>
                    <!-- <th class="fix">
                        <p>Share</p>
                    </th> -->
                    <th class="fix">
                        <p>एकूण कपात(रु.)</p>
                    </th>
                    <th class="fix">
                        <p>देय रक्कम(रु.)</p>
                    </th>
                    <th class="fix">
                        <p>मिळाले</p>
                    </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center text-warning" *ngFor="let temp of data|orderBy: order">
                        <td>{{temp.No}}</td>
                        <td colspan="3" style="padding:0px ;">{{temp.Name}}</td>
                        <td>{{temp.morTotalmilk|ReplaceNan}}/{{temp.mortotalRate|ReplaceNan}}</td>
                        <!-- <td>{{temp.mortotalRate|ReplaceNan}}</td> -->
                        <td>{{temp.eveTotalmilk|ReplaceNan}}/{{temp.evetotalRate|ReplaceNan}}</td>
                        <td>{{temp.totalmilk|ReplaceNan}}</td>
                        <!-- <td>{{temp.}}</td> -->
                        <!-- <td>{{temp.mortotalRate|ReplaceNan}}</td>
                        <td>{{temp.evetotalRate|ReplaceNan}}</td> -->
                        <td>{{temp.totalRate}}</td>
                        <td>{{temp.adv}}</td>
                        <td>{{temp.bank}}</td>
                        <td>{{temp.supply}}</td>
                        <!-- <td>{{temp.share}}</td> -->
                        <td>{{temp.cutting}}</td>
                        <td>{{temp.subAmount}}</td>
                        <td></td>
                    </tr>
                    <tr class="text-center text-warning bg-secondary ">
                        
                        <!-- <td></td> -->
                        <td colspan="4"></td>
                        <td><strong>{{mainData.morTotalmilk|ReplaceNan}}/{{mainData.mortotalRate|ReplaceNan}}</strong></td>
                        <td><strong>{{mainData.eveTotalmilk|ReplaceNan}}/{{mainData.evetotalRate|ReplaceNan}}</strong></td>
                        <td><strong>{{mainData.totalmilk|ReplaceNan}}</strong></td>
                        <td><strong>{{mainData.totalRate}}</strong></td>
                        <td><strong>{{mainData.adv}}</strong></td>
                        <td><strong>{{mainData.bank}}</strong></td>
                        <td><strong>{{mainData.supply}}</strong></td>
                        <td><strong>{{mainData.cutting}}</strong></td>
                        <td><strong>{{mainData.subAmount}}</strong></td>
                        <td></td>
                    
                    </tr>
                </tbody>
            </table>
        </div>   
        </div>
       
    </div>
</div>
<div *ngIf="flag_1 && !hideErr" class="text-center text-danger">
    *Something Wrong Please Refresh
</div>