<div class="d-flex justify-content-center mt-5 text-primary" *ngIf="!flag_1">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
</div>


<div *ngIf="flag_1  && hideErr">
    <div>
        <app-header></app-header>
    </div>
    <div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th class="fix">
                            <p>No</p>
                        </th>
                        <th class="fix">
                            <p>Name</p>
                        </th>
                        <th class="fix">
                            <p>subTotal</p>
                        </th>
                        <th class="fix">
                            <p>Mor Total Milk</p>
                        </th>
                        <th class="fix">
                            <p>Eve Total Milk</p>
                        </th>
                        <th class="fix">
                            <p>Total Milk</p>
                        </th>
                        <!-- <th class="fix">
                        <p>Rate</p>
                    </th> -->
                        <th class="fix">
                            <p>Mor Total Rate</p>
                        </th>
                        <th class="fix">
                            <p>Eve Total Rate</p>
                        </th>
                        <th class="fix">
                            <p>Total Rate</p>
                        </th>
                        <th class="fix">
                            <p>Advance</p>
                        </th>
                        <th class="fix">
                            <p>Bank</p>
                        </th>
                        <th class="fix">
                            <p>Supply</p>
                        </th>
                        <th class="fix">
                            <p>Share</p>
                        </th>
                        <th class="fix">
                            <p>Total Cutting</p>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let temp of data|orderBy: order">
                        <td>{{temp.No}}</td>
                        <td>{{temp.Name}}</td>
                        <td>{{temp.subAmount}}</td>
                        <td>{{temp.morTotalmilk|ReplaceNan}}</td>
                        <td>{{temp.eveTotalmilk|ReplaceNan}}</td>
                        <td>{{temp.totalmilk|ReplaceNan}}</td>
                        <!-- <td>{{temp.}}</td> -->
                        <td>{{temp.mortotalRate|ReplaceNan}}</td>
                        <td>{{temp.evetotalRate|ReplaceNan}}</td>
                        <td>{{temp.totalRate}}</td>
                        <td>{{temp.adv}}</td>
                        <td>{{temp.bank}}</td>
                        <td>{{temp.supply}}</td>
                        <td>{{temp.share}}</td>
                        <td>{{temp.cutting}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf="flag_1 && !hideErr" class="text-center text-danger">
    *Something Wrong Please Refresh
</div>