<div class="d-flex justify-content-center mt-5 text-primary" *ngIf="!onload">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<div *ngIf="onload">
  <div class="row my-3">
    <div class="col-3 text-center">पिशवी</div>
    <div class="col-3">
      <input type="number" class="form-control" style="padding-right: 5px;padding-left: 5px;">
    </div>
    <div class="col-3 text-center">दर</div>
    <div class="col-3">
      <input type="number" class="form-control" style="padding-right: 5px;padding-left: 5px;">
    </div>
  </div>



  <div>
    <table class="table table-striped">
      <thead>
        <tr class="text-center">
          <th>तारीख</th>
          <th>दर</th>
          <th>रक्कम</th>
        </tr>
      </thead>  
      <tbody>
        <tr *ngFor="let temp of data">
          <td>{{temp.date|trimdate}} </td>
          <td>{{temp.rate}}</td>
          <td>{{temp.t_rate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>